@import "tailwindcss";

@config "../tailwind.config.ts";

@theme {
  /* Light mode colors */
  --navy: #1E2A4A;
  --gold: #D4AF37;
  --light-navy: #2C3A5A;
  --off-white: #F8F9FA;
  --medium-gray: #6C757D;
  --white: #FFFFFF;
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

}


body {
  font-family: 'DM Sans', sans-serif;
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}